@charset "UTF-8";
/* меняем цвет виделения */
*::-moz-selection {
  color: black;
  background-color: white;
}
*::selection {
  color: black;
  background-color: white;
}

/* Убираем ненужный фон при клике  */
* {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

/* шрифт */
body {
  font-family: gilroy;
}

/* Скрываем scrollbar для Chrome, Safari и Opera */
*::-webkit-scrollbar {
  display: none;
}

/* Скрываем scrollbar для IE, Edge и Firefox */
* {
  -ms-overflow-style: none;
  /* IE и Edge */
  scrollbar-width: none;
  /* Firefox */
}

/* Указываем box sizing */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Убираем внутренние отступы */
ul[class],
ol[class] {
  padding: 0;
}

/* Убираем внешние отступы */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

/* Выставляем основные настройки по-умолчанию для body */
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* Удаляем стандартную стилизацию для всех ul и il, у которых есть атрибут class*/
ul[class],
ol[class] {
  list-style: none;
}

/* Элементы a, у которых нет класса, сбрасываем до дефолтных стилей */
a:not([class]) {
  -webkit-text-decoration-skip: ink;
          text-decoration-skip-ink: auto;
}

/* Упрощаем работу с изображениями */
img {
  max-width: 100%;
  display: block;
}

/* Указываем понятную периодичность в потоке данных у article*/
article > * + * {
  margin-top: 1em;
}

/* Наследуем шрифты для инпутов и кнопок */
input,
button,
textarea,
select {
  font: inherit;
}

/* Удаляем все анимации и переходы для людей, которые предпочитай их не использовать */
@media (prefers-reduced-motion: reduce) {
  * {
    -webkit-animation-duration: 0.01ms !important;
            animation-duration: 0.01ms !important;
    -webkit-animation-iteration-count: 1 !important;
            animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
@font-face {
  font-family: "Proxima-nova";
  src: url(../fonts/proximaNova.otf);
}
body {
  font-family: Proxima-nova;
}

.first-screen {
  text-transform: uppercase;
  background-image: url(../img/background.png);
  background-size: cover;
  background-position: center center;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}

.first-screen__main {
  text-align: center;
}

.first-screen__title {
  text-align: center;
  color: white;
  letter-spacing: 36px;
  font-size: 60px;
  font-weight: 100;
}

.first-screen__subtitle {
  color: #f84545;
  font-weight: bold;
  font-size: 30px;
}

.first-screen__button img {
  max-width: 50%;
  margin: 0 auto;
  transition: all 0.5s ease;
  cursor: pointer;
}

.first-screen__button img:hover {
  transform: scale(1.1);
}

@media (max-width: 724px) {
  .first-screen__title {
    letter-spacing: 16px;
    font-size: 40px;
  }
  .first-screen__subtitle {
    font-size: 24px;
  }
}
@media (max-width: 425px) {
  .first-screen__title {
    letter-spacing: 10px;
    font-size: 30px;
  }
  .first-screen__subtitle {
    font-size: 20px;
  }
}
@media (max-width: 320px) {
  .first-screen__title {
    font-size: 24px;
    letter-spacing: 7px;
  }
  .first-screen__subtitle {
    font-size: 18px;
  }
}
.burger {
  z-index: -1;
  opacity: 0;
  transition: all 0.3s ease;
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.8);
  -webkit-backdrop-filter: blur(20px) saturate(20);
          backdrop-filter: blur(20px) saturate(20);
}

.burger__body {
  width: 1200px;
  margin: 0 auto;
}

.burger__header {
  padding: 20px 0;
  display: flex;
  justify-content: space-between;
}

.burger__nav {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.burger__nav a {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  color: white;
  text-decoration: none;
  font-size: 20px;
  transition: all 0.3s ease;
}

.burger__nav a:hover {
  color: #f84545;
}

.burger__logo img {
  cursor: pointer;
  max-width: 100%;
  height: 60px;
  transition: all 0.3s ease;
}

.burger__logo img:hover {
  filter: drop-shadow(10px 10px 10px #f84545);
  transform: scale(1.05);
}

.burger__button img {
  cursor: pointer;
  max-width: 100%;
  height: 60px;
}

@media (max-width: 1200px) {
  .burger__body {
    width: 100vw;
    padding: 10px;
  }
}
@media (max-width: 320px) {
  .burger__button img {
    height: 40px;
  }
  .burger__logo img {
    height: 40px;
  }
}
.first-screen__header {
  width: 100%;
  margin: 20px;
}

.header__nav {
  display: flex;
  gap: 20px;
}

.header__burger {
  display: none;
}

.header__burger img {
  height: 60px;
  width: 100%;
}

.header__nav a {
  display: inline-block;
  font-size: 18px;
  text-decoration: none;
  color: white;
  transition: all 0.3s ease;
}

.header__nav a:hover {
  color: #f84545;
}

.header__body {
  width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__logo img {
  height: 60px;
  transition: all 0.3s ease;
}

.header__logo img:hover {
  filter: drop-shadow(0px 0px 20px #f84545);
  transform: scale(1.05);
}

@media (max-width: 1200px) {
  .header__body {
    width: 100vw;
    padding: 10px;
  }
}
@media (max-width: 724px) {
  .header__nav {
    display: none;
  }
  .header__burger {
    display: block;
  }
}
@media (max-width: 320px) {
  .header__burger img {
    height: 40px;
  }
  .header__logo img {
    height: 40px;
  }
}
.brands__body {
  min-height: 100vh;
  width: 1200px;
  margin: 0 auto;
  display: grid;
  padding: 50px 0;
  gap: 20px;
  grid-template-columns: repeat(3, minmax(100px, 1fr));
  grid-template-rows: 1fr 1fr 2fr;
}

.gourmet {
  width: 100%;
  grid-row-start: span 2;
  grid-column-start: span 2;
  background-image: url(../img/gourmet-background.png);
  background-position: center center;
  background-size: cover;
  padding: 30px 50px;
}
.gourmet .brands__name {
  font-size: 50px;
  vertical-align: bottom;
}

.brands__brand {
  max-width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: end;
  text-transform: uppercase;
  padding: 20px 20px;
  padding-top: 50px;
  line-height: 1;
}

.brands__logo img {
  max-width: 100%;
}

.brands__name {
  margin-top: 20px;
  font-size: 30px;
  color: white;
  font-weight: 100;
  letter-spacing: 20px;
}

.carhartt {
  background-image: url(../img/carhartt-background.png);
  background-position: center center;
  background-size: cover;
}

.adidas {
  background-image: url(../img/adidas-background.png);
  background-position: center center;
  background-size: cover;
}

.deep {
  background-image: url(../img/100deep-background.png);
  background-position: center center;
  background-size: cover;
}

.palace {
  background-image: url(../img/palace-background.png);
  background-position: center center;
  background-size: cover;
}

.nike {
  background-image: url(../img/nike-background.png);
  background-position: center center;
  background-size: cover;
}

@media (max-width: 1200px) {
  .brands__body {
    width: 100vw;
    padding: 10px;
    width: 100%;
    grid-template-columns: repeat(2, minmax(100px, 1fr));
    grid-template-rows: repeat(auto-fit, 1fr);
    gap: 10px;
  }
  .brands__brand {
    padding: 10px;
    padding-top: 100px;
  }
}
@media (max-width: 724px) {
  .brands__brand {
    padding: 10px;
    padding-top: 50px;
  }
  .gourmet .brands__name {
    font-size: 20px;
  }
  .brands__name {
    font-size: 15px;
    letter-spacing: 5px;
  }
  .brands__logo {
    width: 40%;
  }
  .palace {
    order: 3;
    grid-row-start: span 2;
  }
  .adidas {
    order: 5;
  }
  .adidas .brands__logo {
    width: 20%;
  }
  .adidas .brands__name {
    margin: 0;
    margin-top: 5px;
  }
  .nike {
    order: 4;
    grid-row-start: span 2;
  }
  .deep {
    order: 2;
    grid-row-start: span 2;
  }
  .carhartt {
    order: 1;
  }
  .carhartt .brands__logo {
    width: 20%;
  }
  .carhartt .brands__name {
    margin: 0;
    margin-top: 5px;
  }
}