@charset "UTF-8";
/* меняем цвет виделения */
*::-moz-selection {
  color: black;
  background-color: white;
}
*::selection {
  color: black;
  background-color: white;
}

/* шрифт */
body {
  font-family: gilroy;
}

/* Скрываем scrollbar для Chrome, Safari и Opera */
*::-webkit-scrollbar {
  display: none;
}

/* Скрываем scrollbar для IE, Edge и Firefox */
* {
  -ms-overflow-style: none;
  /* IE и Edge */
  scrollbar-width: none;
  /* Firefox */
}

/* Указываем box sizing */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Убираем внутренние отступы */
ul[class],
ol[class] {
  padding: 0;
}

/* Убираем внешние отступы */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

/* Выставляем основные настройки по-умолчанию для body */
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* Удаляем стандартную стилизацию для всех ul и il, у которых есть атрибут class*/
ul[class],
ol[class] {
  list-style: none;
}

/* Элементы a, у которых нет класса, сбрасываем до дефолтных стилей */
a:not([class]) {
  -webkit-text-decoration-skip: ink;
          text-decoration-skip-ink: auto;
}

/* Упрощаем работу с изображениями */
img {
  max-width: 100%;
  display: block;
}

/* Указываем понятную периодичность в потоке данных у article*/
article > * + * {
  margin-top: 1em;
}

/* Наследуем шрифты для инпутов и кнопок */
input,
button,
textarea,
select {
  font: inherit;
}

/* Удаляем все анимации и переходы для людей, которые предпочитай их не использовать */
@media (prefers-reduced-motion: reduce) {
  * {
    -webkit-animation-duration: 0.01ms !important;
            animation-duration: 0.01ms !important;
    -webkit-animation-iteration-count: 1 !important;
            animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
@font-face {
  font-family: "Proxima-nova";
  src: url(../fonts/proximaNova.otf);
}
body {
  font-family: Proxima-nova;
}

.first-screen {
  text-transform: uppercase;
  background-image: url(../img/background.png);
  background-size: cover;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}

.first-screen__main {
  text-align: center;
}

.first-screen__title {
  color: white;
  letter-spacing: 36px;
  font-size: 60px;
  font-weight: 100;
}

.first-screen__subtitle {
  color: #f84545;
  font-weight: bold;
  font-size: 30px;
}

.first-screen__button img {
  max-width: 50%;
  margin: 0 auto;
}

.first-screen__header {
  width: 100%;
  margin: 20px;
}

.header__nav {
  display: flex;
  gap: 20px;
}

.header__nav a {
  display: inline-block;
  font-size: 18px;
  text-decoration: none;
  color: white;
}

.header__body {
  width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__logo img {
  max-width: 70%;
}