//------------------------------------------

.brands__body {
    @include bodyWidth();
    display: grid;
    padding: 50px 0;
    gap: 20px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr 1fr 1.5fr;
}

//------------------------------------------

.gourmet {
    width: 100%;
    grid-row-start: span 2;
    grid-column-start: span 2;
    background-image: url(../img/gourmet-background.png);
    background-position: center center;
    background-size: cover;
    padding: 30px 50px;

    .brands__name {
        font-size: 50px;
        vertical-align: bottom;
    }
}

//------------------------------------------

.brands__brand {
    max-width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: end;
    text-transform: uppercase;
    padding: 20px 20px;
    line-height: 1;
}

//------------------------------------------

.brands__logo img {
    max-width: 100%;
}

//------------------------------------------

.brands__name {
    margin-top: 20px;
    font-size: 30px;
    color: white;
    font-weight: 100;
    letter-spacing: 20px;
}

//------------------------------------------

.carhartt {
    background-image: url(../img/carhartt-background.png);
    background-position: center center;
    background-size: cover;
}

//------------------------------------------

.adidas {
    background-image: url(../img/adidas-background.png);
    background-position: center center;
    background-size: cover;
}

//------------------------------------------

.deep {
    background-image: url(../img/100deep-background.png);
    background-position: center center;
    background-size: cover;
}

//------------------------------------------

.palace {
    background-image: url(../img/palace-background.png);
    background-position: center center;
    background-size: cover;
}

//------------------------------------------

.nike {
    background-image: url(../img/nike-background.png);
    background-position: center center;
    background-size: cover;
}

//------------------------------------------

@media (max-width: 1200px) {
    .brands__body {
        @include mobileWidth();
        width: 100%;
        grid-template-columns: repeat(2, 1fr);
    }
}

// @media (max-width: )