//------------------------------------------

.brands__body {
    min-height: 100vh;
    @include bodyWidth();
    display: grid;
    padding: 50px 0;
    gap: 20px;
    grid-template-columns: repeat(3, minmax(100px, 1fr));
    grid-template-rows: 1fr 1fr 2fr;
}

//------------------------------------------

.gourmet {
    width: 100%;
    grid-row-start: span 2;
    grid-column-start: span 2;
    background-image: url(../img/gourmet-background.png);
    background-position: center center;
    background-size: cover;
    padding: 30px 50px;

    .brands__name {
        font-size: 50px;
        vertical-align: bottom;
    }
}

//------------------------------------------

.brands__brand {
    max-width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: end;
    text-transform: uppercase;
    padding: 20px 20px;
    padding-top: 50px;
    line-height: 1;
}

//------------------------------------------

.brands__logo img {
    max-width: 100%;
}

//------------------------------------------

.brands__name {
    margin-top: 20px;
    font-size: 30px;
    color: white;
    font-weight: 100;
    letter-spacing: 20px;
}

//------------------------------------------

.carhartt {
    background-image: url(../img/carhartt-background.png);
    background-position: center center;
    background-size: cover;
}

//------------------------------------------

.adidas {
    background-image: url(../img/adidas-background.png);
    background-position: center center;
    background-size: cover;
}

//------------------------------------------

.deep {
    background-image: url(../img/100deep-background.png);
    background-position: center center;
    background-size: cover;
}

//------------------------------------------

.palace {
    background-image: url(../img/palace-background.png);
    background-position: center center;
    background-size: cover;
}

//------------------------------------------

.nike {
    background-image: url(../img/nike-background.png);
    background-position: center center;
    background-size: cover;
}

//------------------------------------------

@media (max-width: 1200px) {
    .brands__body {
        @include mobileWidth();
        width: 100%;
        grid-template-columns: repeat(2, minmax(100px, 1fr));
        grid-template-rows: repeat(auto-fit, 1fr);
        gap: 10px;
    }

    .brands__brand {
        padding: 10px;
        padding-top: 100px;
    }

}

//------------------------------------------

@media (max-width: 724px) {
    .brands__brand {
        padding: 10px;
        padding-top: 50px;
    }

    .gourmet .brands__name {
        font-size: 20px;
    }

    .brands__name {
        font-size: 15px;
        letter-spacing: 5px;
    }

    .brands__logo {
        width: 40%;
    }

    .palace {
        order: 3;
        grid-row-start: span 2;
    }

    .adidas {
        order: 5;

        .brands__logo {
            width: 20%;
        }

        .brands__name {
            margin: 0;
            margin-top: 5px;
        }
    }

    .nike {
        order: 4;
        grid-row-start: span 2;
    }

    .deep {
        order: 2;
        grid-row-start: span 2;
    }

    .carhartt {
        order: 1;

        .brands__logo {
            width: 20%;
        }

        .brands__name {
            margin: 0;
            margin-top: 5px;
        }
    }
}