//------------------------------------------

.burger {
    z-index: -1;
    opacity: 0;
    transition: all 0.3s ease;
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.8);
    backdrop-filter: blur(20px) saturate(20);
}

//------------------------------------------

.burger__body {
    @include bodyWidth();
}

//------------------------------------------

.burger__header {
    padding: 20px 0;
    display: flex;
    justify-content: space-between;
}

//------------------------------------------

.burger__nav {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

//------------------------------------------

.burger__nav a {
    width: max-content;
    color: white;
    text-decoration: none;
    font-size: 20px;
    transition: all 0.3s ease;
}

//------------------------------------------

.burger__nav a:hover {
    color: #f84545;
}

//------------------------------------------

.burger__logo img {
    cursor: pointer;
    max-width: 100%;
    height: 60px;
    transition: all 0.3s ease;
}

//------------------------------------------

.burger__logo img:hover {
    filter: drop-shadow(10px 10px 10px #f84545);
    transform: scale(1.05);
}

//------------------------------------------

.burger__button img {
    cursor: pointer;
    max-width: 100%;
    height: 60px;
}

//------------------------------------------

@media (max-width: 1200px) {
    .burger__body {
        @include mobileWidth();
    }
}

//------------------------------------------

@media (max-width: 320px) {
    .burger__button img {
        height: 40px;
    }

    .burger__logo img {
        height: 40px;
    }
}

//------------------------------------------