.first-screen {
    text-transform: uppercase;
    background-image: url(../img/background.png);
    background-size: cover;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}

//------------------------------------------

.first-screen__main {
    text-align: center;
}

//------------------------------------------

.first-screen__title {
    color: white;
    letter-spacing: 36px;
    font-size: 60px;
    font-weight: 100;
}

//------------------------------------------

.first-screen__subtitle {
    color: #f84545;
    font-weight: bold;
    font-size: 30px;
}

//------------------------------------------

.first-screen__button img {
    max-width: 50%;
    margin: 0 auto;
}